name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always
  RUSTDOCFLAGS: "--deny warnings"
  RUSTFLAGS: "--deny warnings"
      
jobs:
  test:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        toolchain: ["nightly"]
        target: ["x86_64-pc-windows-msvc", "i686-pc-windows-msvc"]
        include:
          - target: x86_64-pc-windows-msvc
            target32: i686-pc-windows-msvc
    steps:
    - uses: actions/checkout@v4
    
    - name: Install latest rust ${{ matrix.toolchain }} for ${{ matrix.target }}
      uses: dtolnay/rust-toolchain@nightly
      with:
          targets: ${{ matrix.target }}
          toolchain: ${{ matrix.toolchain }}
          
    - name: Install latest rust ${{ matrix.toolchain }} for x86 version of target
      if: matrix.target32
      uses: dtolnay/rust-toolchain@nightly
      with:
          targets: ${{ matrix.target32 }}
          toolchain: ${{ matrix.toolchain }}
      
    - name: Build macros
      run: cargo build --target ${{ matrix.target }} --manifest-path "dll-syringe-macros/Cargo.toml" --all-targets
    - name: Build main crate
      run: cargo build --target ${{ matrix.target }}
      
    - name: Build test target
      run: cargo build --target ${{ matrix.target }} --manifest-path "tests/helpers/test_target/Cargo.toml" --all-targets
    - name: Build test payload
      run: cargo build --target ${{ matrix.target }} --manifest-path "tests/helpers/test_payload/Cargo.toml" --all-targets
      
    - name: Test
      run: cargo test --target ${{ matrix.target }} --all-targets --all-features -- --nocapture
      
  arm-build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install latest rust nightly for aarch64-pc-windows-msvc
        uses: dtolnay/rust-toolchain@nightly
        with:
          toolchain: nightly
          targets: aarch64-pc-windows-msvc

      - name: Check macros
        run: cargo check --manifest-path dll-syringe-macros/Cargo.toml --target aarch64-pc-windows-msvc --all-features
        
      - name: Check main crate
        run: cargo check --target aarch64-pc-windows-msvc --all-features

  hack:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install latest nightly
        uses: dtolnay/rust-toolchain@nightly
        with:
          targets: x86_64-pc-windows-msvc, i686-pc-windows-msvc
      - name: cargo install cargo-hack
        uses: taiki-e/install-action@cargo-hack
      - name: cargo hack
        run: cargo hack --feature-powerset check
        
  documentation:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install latest nightly
      uses: dtolnay/rust-toolchain@nightly
      with:
          targets: x86_64-pc-windows-msvc, i686-pc-windows-msvc
    - name: Generate documentation
      run: cargo doc --all-features
    - name: Install cargo-deadlinks
      run: cargo install cargo-deadlinks
    - name: Check dead links in doc
      run: cargo deadlinks

  clippy:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install latest nightly
        uses: dtolnay/rust-toolchain@nightly
        with:
            targets: x86_64-pc-windows-msvc, i686-pc-windows-msvc
            components: clippy
      - name: Clippy check
        run: cargo clippy --all-features
  
  fmt:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install latest nightly
      uses: dtolnay/rust-toolchain@nightly
      with:
          targets: x86_64-pc-windows-msvc, i686-pc-windows-msvc
          components: rustfmt
    - name: Format check
      run: cargo fmt --all -- --check
