name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always
  RUSTDOCFLAGS: "--deny warnings"
  RUSTFLAGS: "--deny warnings"
      
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        toolchain: ["nightly"]
        os: ["windows-latest"]
        target: ["x86_64-pc-windows-gnu", "i686-pc-windows-gnu", "x86_64-pc-windows-msvc", "i686-pc-windows-msvc"]
        include:
          - target: x86_64-pc-windows-gnu
            target32: i686-pc-windows-gnu
          - target: x86_64-pc-windows-msvc
            target32: i686-pc-windows-msvc
    steps:
    - uses: actions/checkout@v2
    
    - name: Setup MinGW32
      if: contains(matrix.target, 'gnu')
      uses: egor-tensin/setup-mingw@v2
      with:
        platform: x86
    - name: Setup MinGW64
      if: contains(matrix.target, 'gnu') && matrix.target32
      uses: egor-tensin/setup-mingw@v2
      with:
        platform: x64
        
    - name: Install latest rust ${{ matrix.toolchain }} for ${{ matrix.target }}
      uses: actions-rs/toolchain@v1
      with:
          target: ${{ matrix.target }}
          toolchain: ${{ matrix.toolchain }}
          override: true
          
    - name: Install latest rust ${{ matrix.toolchain }} for x86 version of target
      if: matrix.target32
      uses: actions-rs/toolchain@v1
      with:
          target: ${{ matrix.target32 }}
          toolchain: ${{ matrix.toolchain }}
          override: true
      
    - name: Build
      run: cargo build --target ${{ matrix.target }}
      
    - name: Test
      run: cargo test --target ${{ matrix.target }} --all-targets --all-features -- --nocapture

  documentation:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["windows-latest"]
    steps:
    - uses: actions/checkout@v2
    - name: Install latest nightly
      uses: actions-rs/toolchain@v1
      with:
          profile: minimal
          toolchain: nightly
          override: true
    - name: Generate documentation
      run: cargo doc --all-features
    - name: Install cargo-deadlinks
      run: cargo install cargo-deadlinks
    - name: Check dead links in doc
      run: cargo deadlinks

  clippy:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["windows-latest"]
    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
            toolchain: nightly
            components: clippy
            override: true
      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features
